#content {
  display: block;               
  
}

.internal {
  display: block;
}

/* ------------------------ All page setting ------------------------ */
.cover-background{
  width: 100%;
  height: 100vh;
  background: url("../../image/background/batik1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.9;
  position: relative;
  border: 1px solid white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.second-background{
  width: 100%;
  height: 100vh;
  background: url("../../image/background/batik1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid white;
  opacity: 1;
  z-index: 10;
}
.third-background{
  width: 100%;
  height: 100vh;
  background: url("../../image/background/batik1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid white;
  opacity: 1;
  z-index: 10;
}
.fourth-background{
  width: 100%;
  height: 100vh;
  background: url("../../image/background/batik1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid white;
  opacity: 1;
  z-index: 10;
}
.fiveth-background{
  width: 100%;
  height: 100vh;
  background: url("../../image/background/batik1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid white;
  opacity: 1;
  z-index: 10;
}
.sixth-background{
  width: 100%;
  height: 100vh;
  background: url("../../image/background/batik1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid white;
  opacity: 1;
  z-index: 10;
}


/* ------------------------ Border art corner for cover only ------------------------ */
.header-border-cover{
  width: 100%;
  height: 40%;
  top: 0;
  border: 1px solid green;
  z-index: -1000;
  position: fixed;
  float: top;
}
.footer-border-cover{
  width: 100%;
  height: 40%;
  bottom: 0;
  border: 1px solid green;
  z-index: -1000;
  position: fixed;
  float: bottom;
}

.top-left-corner-cover{
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid blue;
  z-index: -1;
  position: relative;
  float: top;
  float: left;

  background-image: url("../../image/background/batik-pojok-top_right.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}
.top-right-corner-cover{
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
  border: 1px solid blue;
  z-index: -1;
  position: relative;
  float: top;
  float: right;

  background-image: url("../../image/background/batik-pojok-top_right.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.bottom-left-corner-cover{
  width: 25%;
  height: 100%;
  bottom: 0;
  left: 0;
  border: 1px solid blue;
  z-index: -1;
  position: relative;
  float: bottom;
  float: left;

  background-image: url("../../image/background/batik-pojok-bottom-left.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
.bottom-right-corner-cover{
  width: 25%;
  height: 100%;
  bottom: 0;
  right: 0;
  border: 1px solid blue;
  z-index: -1;
  position: relative;
  float: bottom;
  float: right;

  background-image: url("../../image/background/batik-pojok-bottom-left.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}


/* ------------------------ Border art corner not for cover ------------------------ */
.header-border{
  width: 100%;
  height: 40%;
  top: 0;
  border: 1px solid green;
  z-index: 9;
  position: absolute;
}
.footer-border{
  width: 100%;
  height: 40%;
  bottom: 0;
  border: 1px solid aqua;
  z-index: 9;
  position: absolute;
}

.top-left-corner{
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid blue;
  z-index: -1;
  position: relative;
  float: top;
  float: left;

  background-image: url("../../image/background/batik-pojok-top_right.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}
.top-right-corner{
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
  border: 1px solid blue;
  z-index: -1;
  position: relative;
  float: top;
  float: right;

  background-image: url("../../image/background/batik-pojok-top_right.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.bottom-left-corner{
  width: 25%;
  height: 100%;
  bottom: 0;
  left: 0;
  border: 1px solid blue;
  z-index: -1;
  position: relative;
  float: bottom;
  float: left;

  background-image: url("../../image/background/batik-pojok-bottom-left.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
.bottom-right-corner{
  width: 25%;
  height: 100%;
  bottom: 0;
  right: 0;
  border: 1px solid blue;
  z-index: -1;
  position: relative;
  float: bottom;
  float: right;
  background-image: url("../../image/background/batik-pojok-bottom-left.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}









/* ------------------------ Fill the cover all artistic ------------------------ */
.frame-invitation-name{
  width: 100%;
  height: 100vh;
  z-index: 9;
  border: 1px solid red;
  background: red;
  opacity: 0.2;
}